@{
    ViewData["Title"] = "Home Page";
}

<div class="align-content-around">
    <h1 class="display-4">Volanding</h1>
    <br />
   
        <h3> ¡Bienvenido a Volanding!</h3>
    <p>
        Descubre el placer de volar con nosotros. Ofrecemos destinos nacionales e internacionales, tarifas accesibles, y un servicio pensado para tu comodidad y seguridad.
        Reserva hoy y vive la experiencia de volar diferente.
    </p>
    
</div>
