@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="align-content-around">
    <br />
<p>En Volanding, nos comprometemos a proteger la privacidad de nuestros clientes. Recopilamos y utilizamos su información personal únicamente para procesar reservas,
    mejorar nuestros servicios y cumplir con requisitos legales. No compartimos sus datos con terceros sin su consentimiento, 
    salvo cuando sea necesario para la operación del servicio. Usted puede acceder, corregir o eliminar su información contactándonos directamente.</p>
</div>

